<div class="wrapper" tabindex="0">
    <div class="col-md-6 login-form-1">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Login Form -->
    <h2>Login page. Welcome to blah blah blah</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" tabindex="0">
      <input type="text" id="login" name="login" placeholder="challenge@alkemy.org" formControlName="email" aria-label="Insert email to login">
      <div *ngIf="loginForm.get('email')?.touched && !loginForm.get('email')?.valid" class="ng-invalid ng-touched" role="alert">Email is required</div>
      <input type="text" id="password"  name="login" placeholder="react" formControlName="password" aria-label="Insert password to login">
      <div *ngIf="loginForm.get('password')?.touched && !loginForm.get('password')?.valid" class="ng-invalid ng-touched" role="alert">Password is required</div>
      <button type="submit" value="Log In"[disabled]="!loginForm.valid">Log in</button>
    </form>
  </div>
    </div>

</div>