<div [id]="hero.name + hero.id" style="width: -webkit-fill-available">
  <div style="width: 50%">
    <img
      [src]="hero.image.url"
      [alt]="hero.name"
      onerror="src='../../assets/images/imagenotfound.jpg'"
      class="img-fluid"
    />
  </div>
  <div>
    {{ hero.name }}
  </div>
</div>
<div id="powerStats" style="background-color: aqua;width: -webkit-fill-available">
  <div
    *ngFor="let powerstat of hero.powerstats | keyvalue"
    style="align-self: center"
  >
    <div>
      <span>{{ powerstat.key }}</span>
      <div>
        <meter
          min="0"
          max="100"
          low="30"
          [value]="powerstat.value === 'null' ? '0' : powerstat.value"
        ></meter>
      </div>
    </div>
  </div>
</div>
<div id="buttonActions" style="width: -webkit-fill-available">
  <div>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="getHeroDetails(hero.id)"
    >
      Details
    </button>
  </div>
  <div>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="deleteHeroFromTeam(hero)"
    >
      Delete
    </button>
  </div>
</div>
