<p *ngIf="heroListInContainer.length === 0">
  You still haven't created a team. Search for heroes and add them to your team.
</p>
<div>
  <button type="button" mat-raised-button color="primary" (click)="openDialog()">
    Add heroes
  </button>
</div>
<div style="display: flex" *ngIf="heroListInContainer.length > 0">
  <div>
    <mat-card *ngFor="let hero of heroListInContainer" id="hero-added-detail">
      <app-power-stats [hero]="hero"></app-power-stats>
    </mat-card>
  </div>
  <mat-card id="acumulative" style="height: max-content;">
    <mat-card-title>Acu</mat-card-title>
    <div *ngFor="let powerstatKeyValue of this.powerStatsSortedFormatted">
      {{powerstatKeyValue}}
    </div>
  </mat-card>
</div>
