<form [formGroup]="addHeroToTeamPopUpForm" (ngSubmit)="searchHeroByName()">
  <mat-form-field>
    <input
      type="text"
      id="findHero"
      name="findHero"
      placeholder="Search for a hero"
      formControlName="heroName"
      matInput
    />
  </mat-form-field>

  <button mat-raised-button color="primary" style="margin-left: 10rem">
    Find hero
  </button>
</form>
<ng-container *ngIf="heroesFoundInSearch.length > 0">
  <table
    mat-table
    [dataSource]="heroesFoundInSearch"
    class="mat-elevation-z8 hero-table"
  >
    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.columnDef"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let row" id="row.id">
        {{ column.cell(row) }}
        <img
          *ngIf="column.columnDef == 'image'"
          [src]="row.image.url"
          [alt]="row.name"
          onerror="src='../../assets/images/imagenotfound.jpg'"
          style="width: 70px; height: 70px; border-radius: 50%"
        />
        <button
          *ngIf="column.columnDef == 'button'"
          mat-raised-button
          color="primary"
          type="button"
          (click)="addHeroToTeam(row)"
        >
          Add hero
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close color="primary">Close</button>
</div>
